* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
p
{
    font-weight: 300;
    color: #111;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
	/*background-image: linear-gradient(0deg, #f7f2f2 0%, #a81313 50%, #0e0402 100%);*/
	background-color: #aa0a0a;
	background-image: linear-gradient(180deg, #aa0a0a 0%, #120202 50%, #b10000 100%);
    background-size: cover;
}
.banner .content
{
	max-width: 900px;
	text-align: center;
}
.banner .content h2
{
	font-size: 5em;
	color: #fff;
}
.banner .content p
{
	font-size: 22px;
	color: #fff;
}
.btn
{
	font-size: 1em;
	color: #fff;
	/*background: #ff0157;*/
	background-color: #a40a0a;
	background-image: linear-gradient(147deg, #a40a0a 0%, #ac0000 74%);
	display: inline-block;
	padding: 10px 30px;
	margin-top: 20px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
	border-radius: 20px;
}
.btn:hover
{
	letter-spacing: 3px;
	color: #FF8C00;
	box-shadow: 0 0 10px #a00404, 0 0 40px #FF8C00, 0 0 90px #FF8C00;
}
header
{
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}
header.sticky
{
	background: #fff;
	padding: 10px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo
{
	color: #fff;
	font-weight: 700;
	font-size: 2em;
	text-decoration:none;
}
header.sticky .logo
{
	color: #111;
}

/* Logo Oto Patamar*/
header .logo span
{
	color: #FF0000;
}
header .navigation
{
	position: relative;
	display: flex;
}
header .navigation li
{
	list-style: none;
	margin-left: 30px;
}

/* Menu estilização da cor e tamanho no início do site*/
header .navigation li a
{
	text-decoration: none;
	color: #ffcc00;
	font-weight: 1000;
}
header.sticky .navigation li a
{
	color: #111;
}

/* Cor do menu ao passar o mouse por cima*/
header.sticky .navigation li a:hover
{
	color: #ffcc00;
}
section
{
	padding: 100px;
}

/* Sobre Nós*/
.row
{
	position: relative;
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
}
.row .col50
{
	position: relative;
	width:50%;
}
.titleText
{
	color: #111;
	font-size: 2em;
	font-weight: 300;
}
.titleText span
{
	color: #ff0000;
	font-weight: 700;
	font-size: 1.5em;
}
.row .col50 .imgBx
{
	position: relative;
	width: 100%;
	min-height: 100px;
	height: 100%;
}
.row .col50 .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100px;
	height: 100%;
	object-fit: cover;
}
.row .col5 .imgBx img
{
	border-radius: 5%;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100px;
	height: 100%;
	object-fit: cover;
}
.title
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.cardapio .content
{
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	margin-top: 40px;
}
.cardapio .content .box
{
	width: 340px;
	margin: 20px;
	border: 15px solid #fff;
	box-shadow: 0 5px  35px rgba(0,0,0,0.08);
}
.cardapio .content .box .imgBx
{
	position: relative;
	width: 100%;
	height: 300px;
}
.cardapio .content .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}
.cardapio .content .box .text
{
	padding: 15px 0 5px;
}
.cardapio .content .box .text h3
{
	font-weight: 1000;
	color: #8B0000;
	text-align: center;
}
.chefes .content
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 40px;
}
.chefes .content .box
{
	 width: 250px;
	 margin: 15px;
}
.chefes .content .box .imgBx
{
	position: relative;
	width: 100%;
	height: 300px;
}
.chefes .content .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}
.chefes .content .box .text
{
	padding: 15px 0 5px;
}
.chefes .content .box .text h3
{
	font-weight: 1000;
	color: #8B0000;
	text-align: center;
}
.avaliacoes
{
	background: url(imagem/img2.jpg);
	background-size: cover;
}
.white .titleText,
.white p
{
	color: #fff;
}
.avaliacoes .content
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 40px;
}
.avaliacoes .content .box
{
	width: 340px;
	margin: 20px;
	padding: 40px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5%;
}
.avaliacoes .content .box .imgBx
{
	position: relative;
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
	border-radius: 50%;
	overflow: hidden;
}
.avaliacoes .content .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.avaliacoes .content .box .text
{
	text-align: center;
}
.avaliacoes .content .box .text p
{
	color: #666;
	font-style: italic;
}
.avaliacoes .content .box .text h3
{
	margin-top: 20px;
	color: #8B0000;
	font-size: 1em;
	color: #8B0000;
	font-weight: 600; 
}
.contato
{
	/*background-color: #000000;
	background-image: linear-gradient(160deg, #000000 0%, #b12e13 100%);*/
	background-color: #f7f2f2;
	background-image: linear-gradient(0deg, #f7f2f2 0%, #a81313 50%, #0e0402 100%);
}
.contato .title h2
{
	color: #ffff;
}
.contato .title p
{
	color: #ffff;
}
.contatoForma
{
	padding: 75px 50px;
	background: #fff;
	box-shadow: 0 15px 50px rgba(0,0,0,0.1);
	max-width: 500px;
	margin-top: 50px;
}
.contatoForma h3
{
	color: #111;
	font-size: 1.2em;
	margin-bottom: 20px;
	font-weight: 500;
}
.contatoForma .inputBox
{
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}
.contatoForma .inputBox input,
.contatoForma .inputBox textarea
{
	width: 100%;
	border: 1px solid #555;
	padding: 10px;
	color: #111;
	outline: none;
	font-size: 16px;
	font-weight: 300;
	resize: none;
}
.contatoForma .inputBox input[type="submit"]
{
	font-size: 1em;
	color: #fff;
	background: #8B0000;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5;
	max-width: 100px;
	font-weight: 500;
	border: none;
	cursor: pointer;
}
.copyrightText
{
	padding: 8px 40px;
	border-top: 1px solid rgba(0,0,0,0.1);
	text-align: center;
}
.copyrightText p
{
	color: #333;
}
.copyrightText a
{
	color: #ff0157;
	font-weight: 500;
	text-decoration: none;
}
@media (max-width: 991px)
{
	header,
	header .sticky 
	{
		padding: 10px 20px;
	}
	header .navigation
	{
		display: none;
	}
	header .navigation.active
	{
		width: 100%;
		height:	calc(100% - 68px);
		position: fixed;
		top: 68px;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: #fff;
	}
	header .navigation li
	{
		margin-left: 0;
	}
	header .navigation li a
	{
		color: #111;
		font-size: 1.6em;
	}
	.menuToggle
	{
		position: relative;
		width: 40px;
		height: 40px;
		background: url(imagem/imagem30.png);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}
	.menuToggle.active
	{
		background: url(imagem/imagem31.png);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
	}
	section
	{
		padding: 20px;
	}
	.banner .content h2
	{
		font-size: 3em;
		color: #fff;
	}
	.row
	{
		flex-direction: column;
	}
	.row .col50
	{
		position: relative;
		width: 100%;
	}
	.row .col50 .imgBx
	{
		height: 300px;
		margin-top: 20px;
	}
	.cardapio .content .box
	{
	margin: 10px;
	}
	.cardapio .content .box .imgBx
	{
	min-height: 100px;
	height: 260px;
	}
}
